/*
ESTOS SOLO SE APLICAN CON MEDIA QUERY
.row-centered{
	text-align: center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
*/

/* Colores morado

.color-primary-0 { color: #A873D0 }
.color-primary-1 { color: #8452B4 }
.color-primary-2 { color: #6C35A2 }
.color-primary-3 { color: #581994 }
.color-primary-4 { color: #410E73 }

*/

/* Colores amarillos 

.color-primary-0 { color: #F0AD4E }
.color-primary-1 { color: #FFD8A0 }
.color-primary-2 { color: #FFC675 }
.color-primary-3 { color: #DE9226 }
.color-primary-4 { color: #AD6D11 }

*/

/*CSS GENERAL*/

html, body{
	height: 100%;
}

body{
	width: 100%;
	background-color: #FFF;
}

a{
	color: #FFC675;
	text-decoration: none;
}

a:hover{
	color: #DE9226;
	text-decoration: underline;
}

.warp{
	min-height: 100%;
}

.main{
	overflow: auto;
	padding-bottom: 70px;
}

.main-pubIndex, .main-usrIndex{
	padding-top: 70px;
}

/*CSS PARA HEADER*/

.navbar-default {
	background-color: #581994;
	border-color: #8452b4;
}
.navbar-default .navbar-brand {
color: #ffd8a0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
color: #de9226;
}
.navbar-default .navbar-text {
color: #ffd8a0;
}
.navbar-default .navbar-nav > li > a {
color: #ffd8a0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #de9226;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
background-color: #581994;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
color: #ffd8a0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
color: #de9226;
background-color: #8452b4;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
background-color: #8452b4;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
color: #de9226;
background-color: #8452b4;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #de9226;
background-color: #8452b4;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
color: #de9226;
background-color: #8452b4;
}
.navbar-default .navbar-toggle {
border-color: #8452b4;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
background-color: #8452b4;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #ffd8a0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
border-color: #ffd8a0;
}
.navbar-default .navbar-link {
color: #ffd8a0;
}
.navbar-default .navbar-link:hover {
color: #de9226;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
color: #ffd8a0;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
color: #de9226;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
color: #de9226;
background-color: #8452b4;
}
}

/*CSS PARA FOOTER*/

.footerInfo{
	color: #FFF;
	background-color: #333;
	padding-top: 15px;
	padding-bottom: 15px;
}

/*CSS PARA EL INDEX*/
.banner{
	color: #FFF;
	background-color: #8452B4;
}

.imgSlider{
	max-width: 620px;
	max-height: 480px;
}

/*CSS PARA USUARIO INDEX*/

.usrHeader, .galHeader{
	padding: 10px;
}

.galHeaderText{
	margin: 0 0 0 5px;
}

.usrDesc{
	background-color: #8452B4 ;
}

/*CSS PARA PUBLICACION INDEX*/

.imagenPost{
	max-width: 800px;
	max-height: 600px;
}

.offsetUp{
	margin-top: 8px;
}

.postHeader, .usrHeader, .galHeader{
	color: #FFF;
	background-color: #6C35A2;
}

.postDesc, .postComentario{
	background-color: #eee;
}

.postDesc{
	font-size: large;
}

.postTags{
	background-color: #ddd;
}

.avatar{
	margin-top: 8px;
	max-width: 100px;
	max-height: 100px;
}

.btnFavorito{
	margin-top: 10px;
	margin-bottom: 10px;
}