@media only screen and (max-width: 767px) {
    .row-centered {
        text-align: center;
    }

    .col-centered {
        display:inline-block;
        float:none;
        text-align:left;
        margin-right:-4px;
    }
    
    .col-slider {
        padding-left: 0;
        padding-right: 0;
    }
    
    .footerInfo-sm {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

/* Colores morado

.color-primary-0 { color: #A873D0 }
.color-primary-1 { color: #8452B4 }
.color-primary-2 { color: #6C35A2 }
.color-primary-3 { color: #581994 }
.color-primary-4 { color: #410E73 }

*/

/* Colores amarillos 

.color-primary-0 { color: #F0AD4E }
.color-primary-1 { color: #FFD8A0 }
.color-primary-2 { color: #FFC675 }
.color-primary-3 { color: #DE9226 }
.color-primary-4 { color: #AD6D11 }

*/

/*CSS GENERAL*/

html, body{
    height: 100%;
}

body{
    width: 100%;
    background-color: #FFF;
}

a{
    color: #FFC675;
    text-decoration: none;
}

h2 {
    margin-top: 12px;
}

a:hover{
    color: #DE9226;
    text-decoration: underline;
}

.warp{
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.main{
    overflow: auto;
    padding-bottom: 70px;
}

.main-pubIndex, .main-usrIndex{
    padding-top: 70px;
    min-height: 92%;
}

.main-index {
    padding-top: 70px;
    min-height: 95%;
}

.main-otro {
    padding-top: 30px;
}

/*CSS PARA HEADER*/

.logo {
    padding: 0;
}

.logoImagen {
    max-height: 50px;
}

.navbar-default {
    background-color: #581994;
    border-color: #8452b4;
}
.navbar-default .navbar-brand {
    color: #ffd8a0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #de9226;
}
.navbar-default .navbar-text {
    color: #ffd8a0;
}
.navbar-default .navbar-nav > li > a {
    color: #ffd8a0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #de9226;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #581994;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffd8a0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #de9226;
    background-color: #8452b4;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #8452b4;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #de9226;
    background-color: #8452b4;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #de9226;
    background-color: #8452b4;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #de9226;
    background-color: #8452b4;
}
.navbar-default .navbar-toggle {
    border-color: #8452b4;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #8452b4;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffd8a0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffd8a0;
}
.navbar-default .navbar-link {
    color: #ffd8a0;
}
.navbar-default .navbar-link:hover {
    color: #de9226;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffd8a0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #de9226;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #de9226;
        background-color: #8452b4;
    }
}

/*CSS PARA FOOTER*/

.footerInfo{
    position: relative;
    z-index: 5000;
    height: 60px;
    color: #FFF;
    background-color: #333;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*CSS PARA EL INDEX*/
.index {
    background: url(../img/fondo.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;
    background-color: #A873D0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.banner{
    margin-top: 70px;
}

.imgSlider{
    max-width: 620px;
    max-height: 480px;
}

.margen-izq {
    margin-left: 20px;
}

/*CSS PARA USUARIO INDEX*/

.usrHeader, .galHeader{
    padding: 10px;
}

.galHeaderText{
    margin: 0 0 0 5px;
}

.usrDesc{
    background-color: #8452B4 ;
}

/*CSS PARA PUBLICACION INDEX*/

/*.imagenPost{
max-width: 800px;
max-height: 600px;
}*/

.margen {
    margin-bottom: 20px;    
}

.offsetUp{
    margin-top: 8px;
}

.postHeader, .usrHeader, .galHeader{
    color: #FFF;
    background-color: #6C35A2;
}

.postDesc, .postComentario{
    background-color: #eee;
}

.postDesc{
    font-size: large;
}

.postTags{
    background-color: #ddd;
}

.avatar{
    margin-top: 8px;
    max-width: 100px;
    max-height: 100px;
}

.btnFavorito{
    margin-top: 10px;
    margin-bottom: 10px;
}