/*
ESTOS SOLO SE APLICAN CON MEDIA QUERY
.row-centered{
	text-align: center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
*/

/* Colores morado

.color-primary-0 { color: #A873D0 }
.color-primary-1 { color: #8452B4 }
.color-primary-2 { color: #6C35A2 }
.color-primary-3 { color: #581994 }
.color-primary-4 { color: #410E73 }

*/

/* Colores amarillos 

.color-primary-0 { color: #F0AD4E }
.color-primary-1 { color: #FFD8A0 }
.color-primary-2 { color: #FFC675 }
.color-primary-3 { color: #DE9226 }
.color-primary-4 { color: #AD6D11 }

*/

/*CSS GENERAL*/

html, body{
	height: 100%;
}

body{
	display: table;
	width: 100%;
	padding-top: 70px;
	background-color: #FFF;
}

a{
	color: #FFD8A0;
	text-decoration: none;
}

a:hover{
	color: #DE9226;
	text-decoration: underline;
}

.main{
	height: 100%;
	padding-top: 20px;
}

/*CSS PARA HEADER*/

.colorNavbar{
	background-color: #581994;
	border: none;
}

.activo{
	background-color: #8452B4;
}

/*CSS PARA FOOTER*/

.footerInfo{
	padding: 10px auto;
	color: #FFF;
	background-color: #333;
}

/*CSS PARA EL INDEX*/
.banner{
	color: #FFF;
	background-color: #8452B4;
}

.imgSlider{
	max-width: 620px;
	max-height: 480px;
}

/*CSS PARA PUBLICACION INDEX*/

.imagenPost{
	max-width: 800px;
	max-height: 600px;
}

.offsetUp{
	margin-top: 8px;
}

.postHeader{
	color: #FFF;
	background-color: #6C35A2;
}

.postDesc, .postComentario{
	background-color: #eee;
}

.postDesc{
	font-size: large;
}

.postTags{
	background-color: #ddd;
}

.avatar{
	margin-top: 8px;
	max-width: 100px;
	max-height: 100px;
}

.btnFavorito{
	margin-top: 10px;
	margin-bottom: 10px;
}